--TẠO CSDL
CREATE DATABASE QLSV1
GO
--SỬ DỤNG CSDL1
USE QLSV1
GO
--TẠO BẢNG
CREATE TABLE CT_DAOTAO
(
	MaCTDT VARCHAR (10) NOT NULL,
	TenCTDT nVARCHAR (50) 
)
GO
CREATE TABLE MonHoc
(
	MaMH VARCHAR(10) NOT NULL,
	TenMH nVARCHAR (50) 

)
GO
CREATE TABLE SinhVien
(
	MaSV VARCHAR (10) NOT NULL,
	HoTen nVARCHAR (50) ,
	GioiTinh VARCHAR (4)  ,
	NgaySinh SMALLDATETIME,
	NoiSinh NVARCHAR (50) ,
	MaLop VARCHAR(10)
)
GO
CREATE TABLE Lop
(
	MaLop VARCHAR (10) NOT NULL ,
	MaKH VARCHAR (10),
	TenLop VARCHAR (50)
)
GO
CREATE TABLE KHOAHOC
(
	MaKH VARCHAR (10) NOT NULL ,
	MaCTDT VARCHAR (10),
	TenKH nvarchar (50)
)
GO
CREATE TABLE KetQuaThi
(
	MaSV VARCHAR (10)NOT NULL,
	MaMH VARCHAR (10)NOT NULL,
	LanThi VARCHAR(10)NOT NULL,
	DiemThi VARCHAR (10)
)
GO

--TAO KHOA CHINH 
ALTER TABLE CT_DAOTAO ADD CONSTRAINT PK_MaCTDT PRIMARY KEY(MaCTDT)
ALTER TABLE MonHoc ADD CONSTRAINT  PK_MaMH PRIMARY KEY (MaMH)
ALTER TABLE SinhVien ADD CONSTRAINT  PK_SV PRIMARY KEY (MaSV)
ALTER TABLE Lop ADD CONSTRAINT  PK_MaLop PRIMARY KEY(MaLop)
ALTER TABLE KHOAHOC ADD CONSTRAINT  PK_MaKH PRIMARY KEY(MaKH)
ALTER TABLE KetQuaThi ADD CONSTRAINT PK_KQT PRIMARY KEY(MaSV,MaMH,LanThi)
--TẠO KHÓA NGOẠI
ALTER TABLE KetQuaThi ADD CONSTRAINT FK_KQT_MaSV foreign key (MaSV) references SinhVien (MaSV)
ALTER TABLE KetQuaThi ADD CONSTRAINT FK_KQT_MH foreign key (MaMH) references MonHoc (MaMH)
ALTER TABLE SinhVien ADD CONSTRAINT FK_LOP_MaLop foreign key (MaLop) references Lop(MaLop)
ALTER TABLE Lop ADD CONSTRAINT FK_Lop_MaKH foreign key (MaKH) references KHOAHOC (MaKH)
ALTER TABLE KHOAHOC ADD CONSTRAINT FK_KH_MaCTDT foreign key (MaCTDT) references CT_DAOTAO (MaCTDT)

-- THEM DU LIEU VAO BANG CTDT
INSERT INTO CT_DAOTAO (MaCTDT,TenCTDT)VALUES ('1',N'CỬ NHÂN')
INSERT INTO CT_DAOTAO (MaCTDT,TenCTDT)VALUES ('2',N'CAO ĐẲNG')
INSERT INTO CT_DAOTAO (MaCTDT,TenCTDT)VALUES ('3',N'TRUNG CẤP')

--THEM DU LIEUJ VAO BANG KHOA HOC 
INSERT INTO KHOAHOC(MaKH,MaCTDT,TenKH) VALUES ('1','1',N'Khoá 1 năm 2005')
INSERT INTO KHOAHOC(MaKH,MaCTDT,TenKH) VALUES ('2','1',N'Khoá 2 năm 2006')
INSERT INTO KHOAHOC(MaKH,MaCTDT,TenKH) VALUES ('3','2',N'Khoá 1 năm 2007')

--THEM DU LIEU VAO BANG LOP 
INSERT INTO Lop(MaLop,MaKH,TenLop)VALUES ('1','1','K1_1')
INSERT INTO Lop(MaLop,MaKH,TenLop)VALUES ('2','1','K2_1')
INSERT INTO Lop(MaLop,MaKH,TenLop)VALUES ('3','1','K3_1')

--THEM DU LIEU VAO BANG MON HOC 
INSERT INTO MonHoc (MaMH,TenMH) VALUES ('TH101',N'TIN HỌC ĐẠI CƯƠNG')
INSERT INTO MonHoc (MaMH,TenMH) VALUES ('TH110',N'TOÁN RỜI RẠC')
INSERT INTO MonHoc (MaMH,TenMH) VALUES ('TH102',N'CƠ SỞ DỮ LIỆU')
--THEM DU LIEU VAO BANG SINH VIEN 
SET DATEFORMAT DMY
INSERT INTO SinhVien(MaSV,HoTen,GioiTinh,NgaySinh,NoiSinh,MaLop) VALUES('K116',N'Đinh Nguyễn Vân Anh',N'Nữ','18/12/1985',N'Bình Thuận','1')
INSERT INTO SinhVien(MaSV,HoTen,GioiTinh,NgaySinh,NoiSinh,MaLop) VALUES('K117',N'Trần Hoàng Anh',N'Nữ','4/8/1986',N'Bình Dương','1')
INSERT INTO SinhVien(MaSV,HoTen,GioiTinh,NgaySinh,NoiSinh,MaLop) VALUES('K118',N'Bùi Thanh Bình',N'Nam','23/10/1985',N'Đồng Nai','1')

--THEM DU LIEU VAO BANG KE QUA THI 
INSERT INTO KetQuaThi(MaSV,MaMH,LanThi,DiemThi) VALUES ('K116','TH101','1','8')
INSERT INTO KetQuaThi(MaSV,MaMH,LanThi,DiemThi) VALUES ('K117','TH101','1','4')
INSERT INTO KetQuaThi(MaSV,MaMH,LanThi,DiemThi) VALUES ('K118','TH101','1','6.5')
